{% extends 'pages/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} News {% endblock title %}


{% block content %}

{% include 'pages/inc/topbar.html' %}

{% include 'pages/inc/headline.html' %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <h2>Последние новости</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <form method="GET">
                {{ filter.form }}
                <div>
                    <button class="btn btn-theme" type="submit" >Найти</button>
                </div>
            </form>
        </div>
        <div class="row">
            <a class="btn btn-theme" type="submit" href="/news/add">Добавить статью</a>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            {% if posts %}
                <div class="span12">
                    {% for post in filter.qs %}
                        <article>
                          <div class="row">

                            <div class="span8">
                              <div class="post-image">
                                <div class="post-heading">
                                  <h3><a href="{{ post.pk }}">{{ post.title|censor }}</a></h3>
                                </div>

                                <img src="{%  static 'img/dummies/blog/img1.jpg' %}" alt="" />
                              </div>

                            </div>
                            <div class="span4">
                              <div class="meta-post">
                                <ul>
                                  <li><i class="icon-file"></i></li>
                                  <li>Автор <a href="#" class="author">{{ post.author }}</a></li>
                                  <li>Дата: <a href="#" class="date">{{ post.created_at | date:'d.m.Y' }}</a></li>
                                  <li>Тип: <a href="#">{% if post.type == 'AR' %}Статья{% else %}Новость{% endif %}</a></li>
                                </ul>
                              </div>
                              <div class="post-entry">
                                <p>
                                  {{ post.text }}
                                </p>
                                <a href="#" class="readmore">Read more <i class="icon-angle-right"></i></a>
                              </div>
                            </div>
                          </div>
                        </article>
                    {% endfor %}

                    {% include 'pages/inc/pagination.html' %}

                </div>

            {% else %}

                <h3>Новостей пока нет... :(</h3>

            {% endif %}

        </div>
    </div>
</section>

{% endblock content %}
